body { font-family: Arial; padding: 10px; }
input { width: 95%; margin: 5px 0; padding: 5px; }
.item { border: 1px solid #ccc; padding: 5px; margin-bottom: 5px; }
.center { text-align: center; }

table { width: 100%; border-collapse: collapse; margin-top: 10px; }
table, th, td { border: 1px solid black; text-align: center; padding: 5px; }

.summary { width: 50%; margin-left: auto; }
.grand { font-weight: bold; }
